<div class="wrapper">
  <div class="container text-center">
    <h2>About Civic Reactor</h2>
    <div class="col-lg-12">
      <div class="nudge">
        <p>
        We at <b>CIVIC REACTOR</b> have noticed that more and more is expected to be done for less, we as a volunteer organisation are committed to the improvement
        to access and publicly open data resources. to allow for wider usage and research from that data.
        </p>
        <p>
        Civic reactors can be young, old, beginners, experts, programmers, designers, data scientists, good communicators, civic organisers, entrepreneurs,  employers, employees and unemployed. Actually anyone willing to get his or her hands dirty solving problems who collaborate on co-creating solutions as a response to social, environmental and economic challenges relevant to their city.
        </p>
        <p>
        Following the goals of the open data movement are similar to those of other "open" movements such as open source, open hardware, open content and open access and making these things available and usable information for all.
        </p>
      </div>
    </div>
    <div class="row">
      <h3>Meet the Team</h3>
      <div *ngFor="let member of team" class="col-xs-12 col-sm-4">
        <div class="card text-center">
         <img src="{{member.img || defaultPicture}}" alt="" class="avatar-bordered"/>
          <h4 class="card-title">{{member.name}}</h4>
          <h5 class="card-text">{{member.role}}</h5>
          <p>{{member.description}}</p>
        </div>
      </div>

    <div class="col-lg-12">
      <div class="nudge">
        <p>
        If you feel like you would like to get involved -
        either with questions or suggestions to make it more useful,
        or by getting more involved with this project or suggest another.
        Please fill out the feedback form.
        </p>
        <p>
        <b>Thank you from the Civic Reactor Team.</b>
        </p>
      </div>
    </div>

  </div>
</div>


