@import "./src/assets/stylesheets/_index.scss";

.nudge {
  margin: 30px 16px 25px 35px;
  padding: 10px 0px;
}
p {
  text-align: left;
  display: clear;
}

.text-center{
  text-align: center;
}

.card img {
  width: 80%;
}
