<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle btn-default navbar-btn" data-toggle="collapse" data-target="#myNavbar"> Menu
      </button>
      <a href="#"><img src="static/crLogo.png"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <ul class="dropdown-menu">
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/Home']">Home</a></li>
        <li><a [routerLink]="['/About']">About</a></li>
        <li><a [routerLink]="['/News']">News</a></li>
        <li><a [routerLink]="['/Suggestions']">Feedback</a></li>
      </ul>
    </div>
  </div>
</nav>

<section class="sample-app-content">
  <router-outlet></router-outlet>
  <br>
  <footer class="text-center">
    <div class="panel-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                  <br>
                  <img class="logo" style="width: 100px" src="static/cqclogo.png">
                  <p>Powered by data from CQC</p>
                </div>
            </div>
        </div>
    </div>
</footer>
</section>





