button {
    background: none;
    border: none;
    border-bottom: 0px;
    padding: 0;
    font: inherit;
    cursor: pointer;
}

hr {
    margin-top: 40px;
    margin-bottom: 20px;
}

li {
    display: inline;
}

li a:link, a:hover {
    text-decoration: none;
}

li button img {
    margin: 0 15px;
}

li img {
    float: left;
    margin-right: 30px;
}

p {
    padding: 0;
    margin: 20px 20px 25px 0;
    text-align: justify;
}

ul {
    list-style-type: none;
    padding: 0;
}

#news-alert {
    margin-top: 6.2vmax;
    margin-bottom: 7vmax;
}

#news-alert img {
    width: 6em;
    margin-top: -20px;
    margin-right: 35px;
}

.menu li:first-child button {
    font-size: 2em;
    padding: 0 10px;
}

.menu ul {
    text-align: center;
    margin-bottom: 40px;
}
