
a:link, a:hover li {
    text-decoration: none;
}

button {
    background: none;
    border: none;
    border-bottom: 0px;
    padding: 0;
    font: inherit;
    cursor: pointer;
    margin: 0 15px;
}

button:hover, button:active {
    color: #337ab7 !important;
}

button:focus {
    outline: none;
}

button.active {
    color: #337ab7 !important;
}

hr {
    margin-top: 40px;
    margin-bottom: 20px;
}

li {
    display: inline;
}

p {
    padding: 0;
    margin: 20px 20px 25px 0;
    text-align: justify;
}

ul {
    list-style-type: none;
    padding: 0;
}

#news-alert {
    margin-top: 5.2vmax;
    margin-bottom: 3.6vmax;
}

#news-alert li i {
    margin-top: 8px;
}

#news-list li i, #news-alert li i {
    float: left;
    margin-right: 30px;
}

.fill {
    margin-bottom: 8.2vmax;
}

.menu li:first-child button {
    font-size: 2.4em;
    vertical-align: -4px;
}

.menu ul {
    text-align: center;
    margin-bottom: 40px;
}

@media (orientation: portrait) and (min-width: 410px) {
    #news-alert {
        margin-top: 5.4vmax;
        margin-bottom: 8.6vmax;
    }
}

@media (orientation: portrait) and (min-width: 768px) {
    #news-alert {
        margin-top: 10vmax;
        margin-bottom: 45.2vmax;
    }
}
