@import "./src/assets/stylesheets/_index.scss";

.sample-app-content {
  font-family: Verdana;
}
.sample-app-content h1 {
  color: #999;
  font-size: 3em;
}
.sample-app-content h2 {
  color: #990000;
  font-size: 2em;
}
.sample-app-content p,
.sample-app-content nav {
  padding: 30px;
}
.sample-app-content li,
.sample-app-content p {
  font-size: 1.2em;
}
.sample-app-content li {
  font-family: Consolas;
}
.sample-app-content nav a {
  float: right;
  display: inline-block;
  margin-right: 15px;
}
.sample-app-content input,
.sample-app-content button {
  padding: 5px;
  font-size: 1em;
  outline: none;
}

.logo {
  width: 100px;
  margin-bottom: 30px;
}

.logo:hover {
  transform: scale(1.1);
}
.footer-above {
  color: white;
}
