<nav class="navbar-reactor">
  <!-- Logo -->
  <a href="/" class="navbar-reactor-brand">
    <a href="#"><img src="assets/crlogo.png"></a>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-reactor-right hidden-xs hidden-sm">

    <!-- Text link -->
    <a routerLink="home" class="navbar-reactor-item navbar-reactor-link">Home</a>

    <!-- Text link -->
    <a routerLink="about" class="navbar-reactor-item navbar-reactor-link">About</a>

     <!-- Text link -->
    <a routerLink="news" class="navbar-reactor-item navbar-reactor-link">News</a>
         <!-- Text link -->
    <a routerLink="suggestions" class="navbar-reactor-item navbar-reactor-link">Feedback</a>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-reactor-item hidden-md hidden-lg">
    <div class="dropdown">
      <div class="dropdown-toggle btn-success btn-sm" data-toggle="dropdown">Menu
      </div>
      <ul class="dropdown-menu dropdown-menu-right navbar-reactor-dropdown-menu">
        <li><a routerLink="home">Home</a></li>
        <li><a routerLink="about">About</a></li>
        <li><a routerLink="news">News</a></li>
        <li><a routerLink="suggestions">Feedback</a></li>
      </ul>
    </div>
  </div>
</nav>


<section class="sample-app-content">
  <router-outlet></router-outlet>
  <br>
  <footer class="text-center">
      <div class="footer-above">
          <div class="container">
              <div class="row">
                  <div class="footer-col col-md-4">
                  </div>
                  <div class="footer-col col-md-4">
                      <ul class="list-inline">
                      <img class="logo" style="width: 100px" src="assets/cqclogo.png">
                      <p>Powered by data from CQC</p>
                      </ul>
                  </div>
                  <div class="footer-col col-md-4">
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-below">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      Copyright &copy; Civic Reactor
                  </div>
              </div>
          </div>
      </div>
  </footer>
  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
      <a class="btn btn-primary" href="#page-top">
          <i class="fa fa-chevron-up"></i>
      </a>
  </div>
</section>

<!-- Footer -->











