<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6">

          <img class="logo" src="assets/imgs/ukcarehomes-logo.jpg">


          <p>
          Here is a map of all the care homes in the United Kingdom. The colours show  <a href="http://www.cqc.org.uk"> Care Quality Commission</a>'s rating for each care home. Red pins are the lowest and green pins are the highest.
          <br>
          <br>
          Click on a pin to see details on that care home and for further information click on 'More details here'.
          </p>

          <map-input [mymap]="mymap"></map-input>

<p>
            This project was started because we at <a href="http://www.civicreactor.org"> CIVIC REACTOR </a> have noticed that more and more is expected to be done for less, we as a volunteer organisation are committed to the improvement of access to publicly open data resources. WeFelt we could share the skills we have to help allow for wider usage and research from the data available but not always in the most accessible format.
            If you feel like you would like to get involved -
            either with questions or suggestions to make it more useful,
            or by getting more involved with this project or suggest another.

            Please fill out the feedback form or <a href="mailto:contact@civicreactor.org&subject=Count%20Me%20In&body=To whon it may concern: \n\n Please let me know how I can help.">Email Civic</a> .

            Thank you from the Civic Reactor Team. </p>
        </div>

        <div class="col-xs-12 col-md-6">
            <map (onMap)="onMap($event)"></map>
        </div>
    </div>
</div>
