<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6">

          <img class="logo" src="assets/imgs/ukcarehomes-logo.jpg">

          <map-input [mymap]="mymap"></map-input>
          <p>
          Here is a map of all the care homes in the United Kingdom. The colours show  <a href="http://www.cqc.org.uk"> Care Quality Commission</a>'s rating for each care home. Red pins are the lowest and green pins are the highest.
          <br>
          <br>
          Click on a pin to see details on that care home and for further information click on 'More details here'.
          </p>
<!-- This paragraph below should go on the About page instead -->
 <!--          <p>
            We at CIVIC REACTOR have noticed that more and more is expected to be done for less, we as a volunteer organisation are committed to the improvement
            to access and publicly open data resources. to allow for wider usage and research from that data.
            If you feel like you would like to get involved -
            either with questions or suggestions to make it more useful,
            or by getting more involved with this project or suggest another.
            Please fill out the feedback form.

            Thank you from the Civic Reactor Team. </p> -->
        </div>

        <div class="col-xs-12 col-md-6">
            <map (onMap)="onMap($event)"></map>
        </div>
    </div>
</div>