<img src="static/OAP.png" alt="">
<p>
  Care Home App provides all the information you require when choosing a care home for your loved one.  Our user friendly app allows you to compare geographical location, onsite facilities and grading for care homes in England.  Our aim is to reduce some of the stress, at what is an emotional and difficult time, and one many of us will face.  We want to ensure that your loved one can live in a comfortable and caring environment, at a geographical location which suits the family.
</p>