.footer-above {
  padding: 40px;
  margin-top: 50px;
  background: $green;
  text-align: center;
}
.list-inline {
  margin-top: 10px;
  margin-bottom: -25px;
}
.list-inline p {
  margin: -15px 0px 15px;
}

.footer-above p {
  color: $white;
}

.footer-below {
  background: $green-light;
}
