/*.navbar-default {
  background-color: $green;
}

.navbar-default .navbar-nav li a {
  color: $white;
  font-family: $base-font;
}
*/
/* Main class */
.navbar-reactor {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: $green;
  transition: all 0.3s ease;
  display: flex;
  height: 70px;
  padding: 0px 30px;
  margin: 0px 0px 50px;
  align-items: center;
  justify-content: space-between;
}

/* Optional class to fix the navbar on top */
.navbar-reactor-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
}

/* Navbar logo */
.navbar-reactor-brand img {
  width: 80px;
}

/* Navbar right section (with form, links, button) */
.navbar-reactor-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar item */
.navbar-reactor-item {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 20px;
}
.dropdown-toggle btn-success btn-lg {
  margin: 0 100px;
}

/* Navbar standard link */
.navbar-reactor-link {
  color: $white;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
}
.navbar-reactor-link:hover {
  color: $orange;
  text-decoration: none;
}

/* Navbar right button */
.navbar-reactor-button {
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 20em;
  line-height: 40px;
  background-color: #D23333;
  color: white;
  font-size: 14px;
  border: 2px solid #D23333;
}
.navbar-reactor-button:hover {
  color: white;
  background: #D23333;
  border-color: #ac2626;
}

/* Navbar dropdown menu */

.navbar-reactor-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px $white;
  border-color: $white;
  background-color: #dff0d8;
}
.navbar-reactor-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: 400px !important;
  color: $black !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-reactor-dropdown-menu li > a:hover {
  background: transparent !important;
  color: $blue !important;
}
.navbar-reactor-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: $white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
.dropdown-toggle.btn-success {
  color: $black;
  background-color: $green-light;
  border-color: #255625;
}

.dropdown-toggle.btn-success:hover {
  color: $black;
  background-color: $orange;
  border-color: #255625;
}
