@import "./src/assets/stylesheets/_index.scss";

.loader {
    position: relative;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
    right: auto;
    top: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.notifications {
    padding: 30px;
    margin: 0 auto;
    text-align: center;
    height: 100px;
}