<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <img class="logo" src="static/ukcarehomes-logo.jpg">
          <p style="align-content: center">This application is being developed to allow easier access  to  the relavent details collected by <a href="http://www.cqc.org.uk">Care Quality Commission</a>
           They make sure health and social care services provide people with safe, effective, compassionate, high-quality care and we encourage them to improve.
          </p>  <map-input [mymap]="mymap"></map-input>
          <p>
            We at CIVIC REACTOR have noticed that more and more is expected to be done for less, we as a volunteer organisation are committed to the improvement
            to access and publicly open data resources. to allow for wider usage and research from that data.
            If you feel like you would like to get involved -
            either with questions or suggestions to make it more useful,
            or by getting more involved with this project or suggest another.

            Please fill out the feedback form.

            Thank you from the Civic Reactor Team. </p>
        </div>

        <div class="col-xs-12 col-md-6">
            <map (onMap)="onMap($event)"></map>
        </div>
    </div>
</div>
